<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de cadastro</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <ul class="nav">
            <li class="li-nav"><a href="/" class="a-nav">Home</a></li>
            <li class="li-nav"><a href="/cadastro" class="a-nav">Cadastrar</a></li>
            <li class="li-nav"><a href="#" class="a-nav">Teste</a></li>
        </ul>
    </nav>

    <div class="home">
        <p>Bem vindo ao</p>
        <p><strong>Hotel Transilvânia</strong></p>
    </div>
</body>

</html>