<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Casdastro de Funcionários</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">

        <h1>Lista de Usuário</h1>

        <div class="lista">
            <div>
                <p>Código:</p>
                <p>Nome:</p>
            </div>
            <div>
                <p>Sálario Inicial:</p>
                <p>Horas Trabalhadas:</p>
            </div>
            <div>
                <p>Auxilio Alimentação:</p>
                <p>Salário Final:</p>
            </div>
        </div>
    </div>

</body>
</html>